# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
medical_collaboration/data/raw/*
medical_collaboration/data/processed/*
medical_collaboration/figures/*
medical_collaboration/models/*
!medical_collaboration/data/raw/.gitkeep
!medical_collaboration/data/processed/.gitkeep
!medical_collaboration/figures/.gitkeep
!medical_collaboration/models/.gitkeep

# Logs
*.log 